<div class="allCard">
    <div class="card" style="width: 260px " *ngFor="let a of videos">
        <img src="{{a.imageUrl}}" alt="" style="height: 400px; width: 260px;">
        <div class="card-body">
            <div>
                <h5 class="card-title">{{a.title}}</h5>
            </div>
            <a [routerLink]="['/singlevideo',a.id]">
                <button class="btn btn-primary">Détails</button>
            </a>
        </div>
    </div>
</div>
<nav aria-label="...">
    <ul class="pagination pagination-lg">
        <li class="page-item" *ngFor="let page of pages" [ngClass]="{'active': page==currentPage}" (click)="changePage(page)"><a class="page-link">{{ page }}</a></li>
        <li class="page-item" (click)="nextPage()">
            <a class="page-link" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>
