<h1 style="text-align: center;">Gestion des videos</h1>
<button class="btn btn-info" routerLink="/home"> Exit</button>
<app-modal-add-video> </app-modal-add-video>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Titre</th>
            <th scope="col">Durée</th>
            <th scope="col">Producteur</th>
            <th scope="col">Categories</th>
            <th scope="col">gestion</th>
        </tr>
    </thead>
    <tbody *ngFor="let v of videos ;let i = index">
        <tr>
            <th scope="row">{{i}}</th>
            <td>{{v.title}}</td>
            <td>{{v.duration}}</td>
            <td>{{v.producer}}</td>
            <td>
                <app-modal-show-categories [id]="v.id"></app-modal-show-categories>
            </td>
            <td>
                <select style="width: 100px;">
                  <option  *ngFor="let c of v.categories" value=c.categories.id>{{c.categories.name}} </option>
                </select>
            </td>
            <td>
                <app-modal-edit-video [id]="v.id"></app-modal-edit-video>
                <button class="btn btn-danger" (click)="onDelete(v)">Delete</button>
            </td>
        </tr>
    </tbody>
</table>