.container {
    height: 100%;
    width: 100%;
    background-image: url('../../assets/img/BackgroundCinema.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    //background-position: center;
}

.card {
    background-color: rgba(0, 0, 0, 0);
    height: 100%;
}

img {
    height: 100%;
    object-fit: cover;
}