<app-header></app-header>

<div class="container" *ngIf="video">
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="{{video.imageUrl}}" class="img-fluid rounded-start" style="width: 300px;" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Titre : {{video.title}}</h5>
                    <h5 class="card-title">Durée : {{video.duration}} Min</h5>
                    <p class="card-text">Description : {{video.description}}</p>
                    <p class="card-text" *ngIf="isSerie">Episode : {{video.episode}}</p>
                    <p class="card-text">Date de sortie : {{video.releaseDate | date}}</p>
                    Categories :
                    <p class="card-text" *ngFor="let c of video.categories">

                        <span class="text-muted">{{c.categories.name}} </span>
                    </p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
        </div>
    </div>
    <iframe src="//www.youtube.com/embed/Xarw8rQVW2w" width="640" height="360" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
</div>


<app-footer></app-footer>
